RewriteEngine On
RewriteBase /wp_lab/

RewriteRule ^(app|includes)/ - [F,L]
DirectoryIndex public/index.php

RewriteCond %{REQUEST_URI} ^/public/(.*)$ [NC]
RewriteRule ^public/(.*)$ /$1 [L,R=301]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)?$ public/index.php?page=$1 [QSA,L]
