body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), 
    url('../images/banhmi_main.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20vh;
    align-items: center;
    text-align: center;
    color: var(--cream);
    gap:0.5rem;
    font-weight: bolder;

}
.brand-name {
    font-weight: bolder;
    font-size: 8rem;
}
.slogan {
    color: var(--cream);
    font-size: 2rem;
    font-weight: bold;
}
