main {
    overflow-y: auto;
    scrollbar-gutter: stable;
}
main::-webkit-scrollbar {
    width: 0.5rem;
}

main::-webkit-scrollbar-track {
    background: var(--brown2);
}

main::-webkit-scrollbar-thumb {
    background: var(--brown3);
}
main::-webkit-scrollbar-thumb:hover {
    background: var(--brown4); 
}
h1 {
    margin: 1rem;
}
#history-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}
.history-card {
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 10px var(--brown3);
    font-weight: bold;
}
.time-price-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.item-container {
    height: 4rem;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; 
    padding: 0.8rem;
    background-color: var(--cream);
    border-radius: 0.1rem;
    border: 4px double var(--brown2);   
    border-top: none; 
    justify-content: space-between;
    /* box-sizing: border-box; */
}
.item-name-container {
    flex: 2;
}
.item-price-container {
    flex: 1;
}
.item-quantity-container {
    flex: 1;
}

.first-item-container {
    border-top: 4px double var(--brown2);   

}
.card-image{
    height: 100%;
    aspect-ratio: 16 /9;
}

.load-more-button {
    /* margin-top: 0.5rem; */
    all: unset;
    cursor: pointer;
    text-align: center;
    padding: 0.2rem 0;
    font-weight: lighter;
}