
.highlight {
    font-weight: bolder;
    background-color: var(--brown4);
}

.order-container {
    display: flex;
    flex-direction: row;
    color: var(--brown3);
    overflow: hidden;
    flex: 1; 
}
.order-container::-webkit-scrollbar {
    width: 0.2rem;
}

.order-container::-webkit-scrollbar-track {
    background: var(--brown1);
}

.order-container::-webkit-scrollbar-thumb {
    background: var(--brown3);
    border-radius: 0.1rem;
}
.order-container::-webkit-scrollbar-thumb:hover {
    background: var(--brown2); 
}
/* Base Styles */
.left-container {
    display: flex;
    margin: 0.5rem 3rem;
    flex-direction: column;
    gap: 0.5rem;
}
.title-container {
    /* padding: 1rem; */
    text-align: center;
}
.title {
    font-weight: bolder;
    font-size: 3rem;
    margin: 0.5rem 0;
    color: var(--brown3);
    white-space: nowrap;
    text-shadow: 1px 1px 2px var(--brown4);
}



.cate-container {
    position: relative; 
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--brown3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-title-container {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--brown1); 
    padding: 0 0.5rem;
}

.filter-title {
    font-weight: bold;
    font-size: x-large;
}

.button-container {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toggle {
    box-shadow: 1px 1px 5px var(--brown4);
    padding: 0.8rem;
    width: 12rem;
    background-color: #444; /* Dark Gray */
    color: gray;
    white-space: nowrap; 
    flex-grow: 1;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.toggle.on {
    background-color: var(--brown3); 
    color: var(--cream);
}

.sort-container {
    border-radius: 1rem;
    background-color: var(--brown3);
    display: flex;
    align-items: center; 
    padding: 1rem;
    box-shadow: 1px 1px 5px var(--brown4);
}

.sort-text {
    margin-right: 0.25rem;
    color: var(--cream);
    white-space: nowrap; 
    font-weight: bolder;
    font-size: large;
}

.sorter {
    width: auto;
    border-radius: 0.5rem;
    padding: 2px 1px;
    font-size: medium;
    color: var(--brown3);
    font-weight: bold;
    background-color: var(--cream);
}
.search-bar {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    color: var(--brown3);
    font-weight: bold;
    font-size: 1rem;
}
.right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.5rem;
    min-height:0;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable;
    align-items: center;

}

.scroll-container::-webkit-scrollbar {
    width: 0.5rem;
}

.scroll-container::-webkit-scrollbar-track {
    background: var(--brown1);
}

.scroll-container::-webkit-scrollbar-thumb {
    background: var(--brown3);
    border-radius: 0.25rem;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--brown2); 
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,20rem)); 
    grid-auto-rows: 18rem;  /* Each row is 18rem tall, but number of rows is dynamic */
    gap: 1rem;
    margin: 0 2rem;
}

.product-card {
    background-color: var(--cream);
    box-shadow: 1px 1px 5px var(--brown2);
    border-radius: 0.5rem;
    padding: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.product-card:hover {
    box-shadow: 1px 1px 5px var(--brown2);
    /* transform: scale(1.01); */
    border: 2px solid var(--brown2); 
    cursor: pointer; 
}

.image-container {
    width: 100%;
    aspect-ratio: 4 /3; /* Ensures a consistent shape */
    overflow: hidden; 
    background-color: #f0f0f0; 
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-name-container {
    padding: 0.5rem;
    font-weight: bolder;
    font-size: clamp(0.8rem, 2vw, 1.2rem); 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; /* Adds "..." when text is too long */
    max-width: 100%; 
}


.product-price-container {
    font-weight: bold;
    font-size: clamp(0.6rem, 2vw, 1rem); 
}

.product-modal {
    position: fixed; 
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.modal-content {
    max-height: 80vh;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--cream);
    width: 40rem;
    height: 40rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.close-modal {
    position: absolute; 
    top: -1rem; 
    right: -1rem; 
    background: var(--brown3); 
    border: none; 
    color: var(--cream); 
    font-size: 1.5rem; 
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50%; 
    width: 3rem;
    height: 3rem;
}

.close-modal:hover {
    box-shadow: 1px 1px 5px var(--brown4);
}

.modal-image {
    border-radius: 0.2rem;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.modal-name {
    font-weight: bolder;
    font-size: 2rem;
}

.modal-price {
    font-weight: bold;
    font-size: 1.25rem;
}

.quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.quantity-btn {
    all: unset;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--brown3);
    font-weight: bolder;
    color: var(--cream);
}

.quantity-btn:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.quantity-btn:hover {
    box-shadow: 1px 1px 5px var(--brown4);
    cursor: pointer;
}

.quantity {
    width: 3rem;
    height: 2rem;
    padding-left: 1rem;
    font-weight: bolder;
    color: var(--brown3)
}

.submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
}

.modal-submit {
    all: unset;
    background-color: var(--brown3);
    color: var(--cream);
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.modal-submit:hover {
    box-shadow: 2px 2px 10px var(--brown4);
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.fixed-nav {
    all: unset;
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
    background: var(--brown3);
    color: var(--cream);
    border-color: var(--brown4);
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.fixed-nav:hover {
    box-shadow: 1px 1px 5px var(--brown4);
}

.fixed-nav:disabled {
    background: gray;
    border-color: gray;
    cursor: not-allowed;
}

.page-numbers {
    display: flex;
    gap: 0.4rem;
}

.page-btn {
    all: unset;
    border-radius: 0.25rem;
    padding: 0.5rem 0.8rem;
    background: var(--cream);
    color: var(--brown3);
    border-color: var(--brown4);
    cursor: pointer;
    font-weight: bold;
}

.page-btn:hover {
    box-shadow: 1px 1px 5px var(--brown4);
}

.page-btn.active {
    background: var(--brown3);
    color: var(--cream);
    font-weight: bolder;
}

.ellipsis {
    padding: 5px 10px;
    color: var(--cream);
}


@media (max-width: 1200px) {
    .products-container {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        grid-template-rows: repeat(6, auto);  
    }
}



@media (max-width: 768px) {
    .order-container {
        flex-direction: column;
        overflow-y: auto;
        scrollbar-gutter: stable;    
    }
    .scroll-container {
        overflow-y: hidden;
    }
    .products-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, auto);
    }
    .modal-content {
        width: 90%;
        height: auto;
    }

    .title {
        font-size: 2rem;
    }

    .left-container, .right-container {
        padding: 0.5rem;
    }

    .product-name-container {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }

    .modal-name {
        font-size: 1.5rem;
    }

    .modal-price {
        font-size: 1rem;
    }

    .product-name-container {
        font-size: 1rem;
    }

    .modal-content {
        width: 100%;
        height: auto;
    }

    .close-modal {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
    }



    .modal-image {
        height: 50%;
    }

    .quantity {
        width: 2rem;
    }
}
