:root {
    --cream: #F1F7EE;
    --yellow: #E7F59E;
    --brown1: #D8B997;
    --brown2: #9E8576;
    --brown3: #3F2A2B;
    --brown4: #4B3724;
  }
  
  body {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100vw; 
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--brown1);   
    color: var(--brown3);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
